.b{
    grid-row: 1;
    grid-column: 1 / span 1;
    background-image: url('/project/images/lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 5px darkgray;
}

h1,p{
    text-align: center;
}

button{
    width: 80px;
    margin-top: 20px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 5px;
}

button:hover{
    box-shadow: 2px 2px 4px black;
}

form{
    margin-left: 50px;
    margin-top: 40px;
}

input:hover{
    box-shadow: 2px 2px 4px black;
}

p{
    margin: 10px;
    margin-bottom: 20px;
}

#mail{
    width: 70%;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

#conditions{
    height: 18px;
    width: 18px;
}

footer{
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 1em;
    width: 90px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
    box-shadow: 2px 2px 5px black;
    color: white;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

span{
    margin-left: 15px;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}
